body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1275px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:1650px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:1650px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:817px;
  width:1271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:1650px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1650px;
  width:1275px;
  height:1650px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:817px;
  width:1271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:1650px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3300px;
  width:1275px;
  height:1650px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:817px;
  width:1271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:1650px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4950px;
  width:1275px;
  height:1650px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:817px;
  width:1271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:1650px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6600px;
  width:1275px;
  height:1650px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:817px;
  width:1271px;
  visibility:hidden;
  word-wrap:break-word;
}
