body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:70px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(91, 192, 222, 1) 0%, rgba(91, 192, 222, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(91, 192, 222, 1) 0%, rgba(91, 192, 222, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  background:linear-gradient(180deg, rgba(91, 192, 222, 1) 0%, rgba(91, 192, 222, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u1221_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(61, 179, 214, 1) 0%, rgba(61, 179, 214, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(61, 179, 214, 1) 0%, rgba(61, 179, 214, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  background:linear-gradient(180deg, rgba(61, 179, 214, 1) 0%, rgba(61, 179, 214, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u1221.mouseOver {
}
#u1221_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:34px;
  background:inherit;
  background-color:rgba(42, 171, 210, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 164, 201, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u1221.mouseDown {
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
