body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:81px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(217, 83, 79, 1) 0%, rgba(217, 83, 79, 1) 0%, rgba(193, 46, 42, 1) 100%, rgba(193, 46, 42, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(217, 83, 79, 1) 0%, rgba(217, 83, 79, 1) 0%, rgba(193, 46, 42, 1) 100%, rgba(193, 46, 42, 1) 100%);
  background:linear-gradient(180deg, rgba(217, 83, 79, 1) 0%, rgba(217, 83, 79, 1) 0%, rgba(193, 46, 42, 1) 100%, rgba(193, 46, 42, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(172, 41, 37, 1);
  border-radius:3px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:61px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u1239_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(207, 68, 64, 1) 0%, rgba(207, 68, 64, 1) 0%, rgba(193, 46, 42, 1) 100%, rgba(193, 46, 42, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(207, 68, 64, 1) 0%, rgba(207, 68, 64, 1) 0%, rgba(193, 46, 42, 1) 100%, rgba(193, 46, 42, 1) 100%);
  background:linear-gradient(180deg, rgba(207, 68, 64, 1) 0%, rgba(207, 68, 64, 1) 0%, rgba(193, 46, 42, 1) 100%, rgba(193, 46, 42, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(172, 41, 37, 1);
  border-radius:3px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u1239.mouseOver {
}
#u1239_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(193, 46, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(185, 44, 40, 1);
  border-radius:3px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u1239.mouseDown {
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
