body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:132px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  font-size:14px;
  line-height:24px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:112px;
  height:34px;
  font-size:14px;
  line-height:24px;
}
#u1243_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(173, 173, 173, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  font-size:14px;
  line-height:24px;
}
#u1243.mouseOver {
}
#u1243_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(173, 173, 173, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  -webkit-box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  font-size:14px;
  line-height:24px;
}
#u1243.mouseDown {
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:108px;
  word-wrap:break-word;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -moz-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
}
