body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:54px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#428BCA;
  text-align:center;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:34px;
  height:22px;
  font-size:12px;
  color:#428BCA;
  text-align:center;
}
#u1251_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#428BCA;
  text-align:center;
}
#u1251.mouseOver {
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:34px;
  word-wrap:break-word;
}
